/*
COLORS

--color-background: #E5E5E5;
--color-text: #172B4D;
--color-primary: #36b37e;
--color-default: #ffffff;
--color-border: 1px solid #D0D9D4;
--color-background-text: #EBF0EE;
Primary dark: #BA265D;
--color-border-active: 1px solid #60C095;

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

#DFE1E6

*/
:root {
  --color-background: #e5e5e5;
  --color-text: #172b4d;
  --color-text-2: #0c1627;
  ----color-border: #c1c7d0;
  --color-primary: #36b37e;
  --color-default: #ffffff;
  --color-border: 1px solid #d0d9d4;
  --color-background-text: #ebf0ee; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-default);
  font-size: 1.6rem; }

.header {
  background-color: var(--color-default);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .header__nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    margin-top: 2rem;
    z-index: 100; }
    .header__nav--items {
      list-style: none;
      display: flex;
      gap: 5px;
      justify-content: center; }
    .header__nav--item {
      padding: 0.5rem 1rem;
      align-items: center;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 2rem; }
    .header__nav--link {
      text-decoration: none;
      color: #0c1627; }
  .header .img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2%);
    width: 100%;
    margin: 0 auto; }
  .header__textcontent {
    text-align: center;
    width: 57%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); }
  .header__icons {
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__icons > * {
      padding: 0 2rem; }
    .header__icons-svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: rgba(7, 13, 23, 0.801); }

.projects {
  margin: 3rem 0rem 0rem 0rem;
  display: flex;
  flex: 0 0 100%;
  gap: 2.4rem;
  flex-wrap: wrap;
  transition: all 0.2s ease-out; }
  .projects_container {
    flex: 1 0 30%;
    border: 1px solid #d0d9d4;
    border-radius: 0.8rem;
    overflow: hidden;
    background-color: var(--color-background-text);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .projects_container-img {
      width: 100%;
      height: 25.2rem; }
    .projects_container__content {
      display: flex;
      flex-direction: column;
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
      gap: 1rem;
      padding: 2.5rem 3rem;
      background-color: var(--color-default);
      text-align: center;
      align-items: center; }
    .projects_container:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      transform: scale(1.02); }

.illustration {
  position: relative; }
  .illustration--image-1 {
    width: 100%; }
  .illustration--image-2 {
    position: absolute;
    top: 50%;
    left: 0; }
  .illustration .abs {
    position: relative; }
  .illustration__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    margin-bottom: 3rem; }

.aboutme__tools {
  padding: 4rem 0.8rem;
  margin: 0 auto 4rem auto;
  width: 90%;
  display: flex;
  gap: 2.4rem; }
  .aboutme__tools-container {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border: 1px solid var(--color-border);
    flex: 1 0 30%;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-background-text);
    border-radius: 0.8rem;
    transition: all 0.2s ease-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .aboutme__tools-container:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      transform: translateY(-5px); }
  .aboutme__tools .aboutme__logos {
    padding: 1rem;
    background-color: var(--color-default);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem; }

.project-section {
  display: flex;
  flex-direction: column;
  padding: 4rem 0.8rem;
  margin: 0 auto 2rem auto;
  width: 90%; }

.contact__section {
  width: 100%; }
  .contact__section .contactme {
    width: 90%;
    margin: 0 auto 6rem auto;
    display: flex;
    gap: 2rem; }
    .contact__section .contactme__texts {
      font-size: 3rem;
      font-weight: 700;
      color: var(--color-text);
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center; }
    .contact__section .contactme_fields {
      flex: 0 0 58%; }
    .contact__section .contactme .input-group {
      margin-bottom: 2.4rem;
      position: relative; }
    .contact__section .contactme input,
    .contact__section .contactme textarea {
      width: 100%;
      padding: 1.5rem;
      outline: none;
      border: 1px solid #d0d9d4;
      font-size: 1.5rem;
      border-radius: 4px; }
      .contact__section .contactme input ::placeholder,
      .contact__section .contactme textarea ::placeholder {
        color: #6b778c; }
      .contact__section .contactme input:focus,
      .contact__section .contactme textarea:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
        border-bottom: 3px solid var(--color-primary); }
      .contact__section .contactme input:focus:invalid,
      .contact__section .contactme textarea:focus:invalid {
        border-bottom: 3px solid red; }
    .contact__section .contactme label {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: text;
      padding: 1rem;
      display: inline-flex;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 700;
      border-bottom: 3px solid transparent;
      transition: 0.6s;
      color: #6b778c; }
    .contact__section .contactme input:focus ~ label,
    .contact__section .contactme input:valid ~ label,
    .contact__section .contactme textarea:focus ~ label {
      top: -3.5rem; }
    .contact__section .contactme .row {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .contact__section .contactme .row .input-group {
        flex-basis: 48%; }
  .contact__section .background__image {
    position: relative;
    z-index: -10; }
    .contact__section .background__image--1 {
      position: absolute;
      left: 0;
      top: -20rem; }
    .contact__section .background__image--2 {
      position: absolute;
      left: 25%; }
    .contact__section .background__image--3 {
      position: absolute;
      right: 0;
      top: -35rem; }
  .contact__section .background--icons {
    position: relative;
    display: flex; }

.footer__icons {
  margin-top: 20rem;
  margin-bottom: 0;
  border-top: 1px solid #dfe1e6;
  padding-top: 1rem; }

.heading__primary {
  color: var(--color-text-2);
  backface-visibility: hidden; }
  .heading__primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.2rem;
    animation: moveInLeft 1s ease-out; }
  .heading__primary--sub {
    display: block;
    font-size: 5rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-top: -2rem;
    animation: moveInRight 1s ease-out; }

.paragraph__text {
  font-size: 2.2rem;
  color: var(--color-text-2); }

.heading__secondary {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-text); }
  .heading__secondary:hover {
    cursor: pointer;
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading__tertiary {
  font-weight: 600;
  font-size: 2.4rem;
  color: var(--color-text); }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateX(15rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.margin-bottom-small {
  margin-bottom: 2.4rem; }

.center {
  align-items: center;
  text-align: center;
  margin-bottom: 2rem; }

.right {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem; }

.top {
  margin-top: -7.5rem; }

.span-items {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap; }

.grey {
  background-color: var(--color-background-text);
  padding: 0.8rem; }

.white {
  background-color: var(--color-default);
  border-radius: 0.8rem;
  padding: 1.2rem;
  border-radius: 0.3rem; }

.span {
  font-size: 1.2rem; }

.btn {
  position: relative; }
  .btn, .btn:link, .btn:visited {
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem;
    margin-top: 1rem;
    display: inline-block;
    border-radius: 0.4rem;
    transition: all 0.2s;
    cursor: pointer;
    border: none; }
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--green {
    background-color: var(--color-primary);
    color: var(--color-default); }
    .btn--green::after {
      background-color: var(--color-primary); }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: all 0.4s; }

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #344563; }
