/*
COLORS

--color-background: #E5E5E5;
--color-text: #172B4D;
--color-primary: #36b37e;
--color-default: #ffffff;
--color-border: 1px solid #D0D9D4;
--color-background-text: #EBF0EE;
Primary dark: #BA265D;
--color-border-active: 1px solid #60C095;

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

#DFE1E6

*/
@import "./mixins";
:root {
  --color-background: #e5e5e5;
  --color-text: #172b4d;
  // --color-text-2: #070d17;
  --color-text-2: #0c1627;
  ----color-border: #c1c7d0;
  --color-primary: #36b37e;
  --color-default: #ffffff;
  --color-border: 1px solid #d0d9d4;
  --color-background-text: #ebf0ee;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10p
  overflow-x: hidden;

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 53%; //1 rem = 8px, 8/16 = 50%
  }
  // scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-default);
  font-size: 1.6rem;

  @include respond(tab-land) {
    line-height: 1.6;
  }
  // width: 100vh;
}
