@import "./mixins";

.header {
  background-color: var(--color-default);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &__nav {
    background-color: transparent;
    position: fixed;
    width: 100%;
    margin-top: 2rem;
    z-index: 100;
    &--items {
      list-style: none;
      display: flex;
      gap: 5px;
      justify-content: center;
    }

    &--item {
      padding: 0.5rem 1rem;
      align-items: center;
      text-transform: capitalize;
      font-weight: 700;
      font-size: 2rem;
    }

    &--link {
      text-decoration: none;
      color: #0c1627;
    }
  }
  .img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -2%);
    // height: 95vh;
    width: 100%;
    margin: 0 auto;
  }

  &__textcontent {
    text-align: center;
    width: 57%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;

    & > * {
      padding: 0 2rem;
    }
    &-svg {
      height: 2.5rem;
      width: 2.5rem;
      fill: rgba(7, 13, 23, 0.801);
    }
  }
}

.projects {
  // border: 1px solid red;
  margin: 3rem 0rem 4rem 0rem;
  display: flex;
  flex: 0 0 100%;
  gap: 2.4rem;
  flex-wrap: wrap;
  transition: all 0.2s ease-out;

  &_container {
    @include content;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    &-img {
      width: 100%;
      height: 25.2rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      border-top-right-radius: 0.8rem;
      border-top-left-radius: 0.8rem;
      gap: 1rem;
      padding: 2.5rem 3rem;
      background-color: var(--color-default);
      text-align: center;
      align-items: center;
    }
    &:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      transform: scale(1.02);
    }
  }
}

///////////////////////
/// ILLUSTRATION
///
.illustration {
  position: relative;

  &--image-1 {
    width: 100%;
  }
  &--image-2 {
    position: absolute;
    top: 50%;
    left: 0;
  }
  .abs {
    position: relative;
  }
  &__content {
    @include positioncenter;
    width: 60%;
    text-align: center;
  }
}

.aboutme__tools {
  padding: 4rem 0.8rem;
  // border: 1px solid rgb(77, 29, 190);
  margin: 0 auto 9rem auto;
  width: 90%;
  display: flex;
  gap: 2.4rem;

  &-container {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    border: 1px solid var(--color-border);
    flex: 1 0 30%;
    gap: 1rem;
    align-items: center;
    background-color: var(--color-background-text);
    border-radius: 0.8rem;
    transition: all 0.2s ease-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
    }
  }

  .aboutme__logos {
    padding: 1rem;
    background-color: var(--color-default);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    margin-bottom: 5rem;
  }
}
