.margin-bottom-small {
  margin-bottom: 2.4rem;
}

.center {
  align-items: center;
  text-align: center;
}

.span-items {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.grey {
  background-color: var(--color-background-text);
  padding: 0.8rem;
}
.white {
  background-color: var(--color-default);
  border-radius: 0.8rem;
  padding: 1.2rem;
  border-radius: 0.3rem;
}
.span {
  font-size: 1.2rem;

  // margin-right: 3rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: capitalize;
  padding: 1rem;
  margin-top: 1rem;
  display: inline-block;
  border: 0.4rem;
  border-radius: 4px;
  transition: all 0.2s;
  // backface-visibility: hidden;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--green {
  background-color: var(--color-primary);
  color: var(--color-default);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn--green::after {
  background-color: var(--color-primary);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #344563;
}
