.sticky {
  background-color: rgba(54, 179, 127, 0.9);
  opacity: 0.8;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.center {
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.right {
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.top {
  margin-top: -7.5rem;
}

.span-items {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.grey {
  background-color: var(--color-background-text);
  padding: 0.8rem;
}
.grey2 {
  background-color: var(--color-background-text);
  padding: 0.8rem 1.2rem;
}

.white {
  background-color: var(--color-default);
  border-radius: 0.8rem;
  padding: 1.2rem;
  border-radius: 0.3rem;
  fill: #fff;
}
.span {
  font-size: 1.2rem;

  // margin-right: 3rem;
}

.ml {
  margin-left: auto;
}

.flex {
  display: inline-flex;
  margin-left: 1rem;
  fill: #fff;
  // background-color: #fff;
}

.btn {
  position: relative;
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: capitalize;
    padding: 1rem;
    margin-top: 1rem;
    display: inline-flex;
    border-radius: 0.4rem;
    transition: all 0.2s;
    cursor: pointer;
    border: none;
    backface-visibility: hidden;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  &--green {
    background-color: var(--color-primary);
    color: var(--color-default);

    &::after {
      background-color: var(--color-primary);
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: all 0.4s;
  }
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #344563;
}

////////mobile
///
.btn-mobile-nav {
  // margin-left: auto;
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #67798e;
}

.nav-open {
  .header__nav--all {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
}
